---
import React from './icons/React.astro';
import NextJS from './icons/NextJS.astro';
import Express from './icons/Express.astro';
import NestJS from './icons/NestJS.astro';
import PostgreSQL from './icons/PostgreSQL.astro';
import MongoDB from './icons/MongoDB.astro';
import Redux from './icons/Redux.astro';
import Aws from './icons/Aws.astro';
import GitHub from './icons/GitMinimal.astro';
import LinkButton from './LinkButton.astro';
import Link from './icons/Link.astro';
import Sass from './icons/Sass.astro';
import Prisma from './icons/Prisma.astro';
import TypeORM from './icons/TypeORM.astro';
import Jest from './icons/Jest.astro';

const tags = {
  REACT: {
    name: 'React',
    class: 'bg-white text-[#00d8ff] border-[#00d8ff]',
    icon: React,
  },
  NEXT: {
    name: 'Next.js',
    class: 'bg-black text-white border-[#ffffff45]',
    icon: NextJS,
  },
  SASS: {
    name: 'Saas',
    class: 'bg-white text-[#cf649a] border-[#cf649a]',
    icon: Sass,
  },
  REDUX: {
    name: 'Redux',
    class: 'bg-white text-[#764abc] border-[#764abc]',
    icon: Redux,
  },
  EXPRESS: {
    name: 'Express.js',
    class: 'bg-[#ababab] text-black border-black',
    icon: Express,
  },
  NEST: {
    name: 'Nest.js',
    class: 'bg-[#961c37] text-white border-[#e0234e]',
    icon: NestJS,
  },
  POSTGRESQL: {
    name: 'PostgreSQL',
    class: 'bg-[#003159] text-white border-[#336791]',
    icon: PostgreSQL,
  },
  MONGODB: {
    name: 'MongoDB',
    class: 'bg-[#17743e] text-white border-[#01EC64]',
    icon: MongoDB,
  },
  PRISMA: {
    name: 'Prisma',
    class: 'bg-white text-black border-black',
    icon: Prisma,
  },
  TYPEORM: {
    name: 'TypeORM',
    class: 'bg-white text-black border-black',
    icon: TypeORM,
  },
  JEST: {
    name: 'Jest',
    class: 'bg-white text-[#99425b] border-[#99425b]',
    icon: Jest,
  },
  AWS: {
    name: 'AWS',
    class: 'bg-[#f3f3f3] text-black border-[#f90]',
    icon: Aws,
  },
};
const projects = [
  {
    title: 'Emprendegan',
    description:
      "Emprendegan is an application designed to facilitate livestock and agricultural management. Built on a microservices structure with clean architecture and domain-driven design, it becomes a robust solution capable of being implemented independently of the technologies chosen. It integrates with Google's weather API, allowing farmers to take preventive measures ahead of rain and drought periods, also with Almagan, simplifying the acquisition of food, tools, and supplies.",
    image: '/projects/emprendegan.webp',
    tags: [
      tags.NEXT,
      tags.SASS,
      tags.REDUX,
      tags.NEST,
      tags.POSTGRESQL,
      tags.TYPEORM,
      tags.JEST,
    ],
  },
  {
    title: 'Steel Lab',
    description:
      'Steel Lab is a software designed to ease the management of all processes in companies that provide quality testing solutions for the steel industry. Built on a serverless microservices architecture and linked to the AWS cloud via Lambda functions, Steel Lab becomes a fast, versatile, and cost-effective solution for automating processes. The software is integrated with the Siggo API and linked with Dropbox SDK, enabling massive uploads and storage of information.',
    image: '/projects/steel-lab.webp',
    tags: [tags.NEXT, tags.SASS, tags.REDUX, tags.NEST, tags.MONGODB, tags.AWS],
  },
  {
    title: 'Autolavado 360°',
    description:
      'Autolavado 360° is an ERP designed with a multitenant architecture, aimed at providing solutions for car wash chains in managing the entire operational and administrative scope of each of their registered headquarters. You can manage personnel, supplies, equipments, services, customers, third-party agreements, income history, settlements, parking lots etc. In addition, it allows the creation of electronic invoices for the DIAN, collection accounts for agreements and notifications sending to clients and allies.',
    image: '/projects/autolavado360.webp',
    tags: [
      tags.NEXT,
      tags.REDUX,
      tags.NEST,
      tags.MONGODB,
      tags.POSTGRESQL,
      tags.PRISMA,
      tags.JEST,
    ],
  },
  {
    title: 'Adogta Foundation',
    description:
      'Adogta is a web application that connects pet foundations with individuals interested in adopting a furry companion. As a user, you can browse pets that foundations have available for adoption. If you find one you like, you can send an adoption request or contribute to their cause by making a donation. As a foundation, you can create and manage pets through a highly intuitive interface.',
    image: '/projects/adogta-foundation.webp',
    tags: [tags.REACT, tags.REDUX, tags.EXPRESS, tags.MONGODB],
    github: 'https://github.com/Cristianjs93/adogta-client',
    link: 'https://adogta-client.vercel.app/',
  },
  {
    title: 'Rica App',
    description:
      'Rica App is an e-commerce developed with React and Express that allows to place delivery orders from your favorite restaurant and also make reservations. Payments can be made through the Stripe payment gateway. As a restaurant owner, you can efficiently manage products, offering functionalities to add, edit, delete, and view products. Finally, as an administrator, you have the capability to manage both customers and restaurants.',
    image: '/projects/rica-app.webp',
    tags: [
      tags.REACT,
      tags.SASS,
      tags.REDUX,
      tags.EXPRESS,
      tags.POSTGRESQL,
      tags.PRISMA,
    ],
    github: 'https://github.com/Cristianjs93/front-app-restaurant',
    link: 'https://front-app-restaurant.vercel.app/',
  },
];
---

<div class='flex flex-col gap-y-16'>
  {
    projects.map(({ image, title, description, tags, link, github }) => (
      <article class='flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0'>
        <div class='w-full md:w-1/2 md:h-56 lg:h-[300px] rounded-xl shadow-xl transition duration-500 ease-in-out transform md:group-hover:-translate-y-1 md:group-hover:shadow-2xl overflow-clip border lg:border-gray-300 lg:hover:border-gray-200 lg:dark:border-gray-900 lg:dark:hover:border-gray-800'>
          <img
            src={image}
            alt='Project photo'
            class='w-full h-full rounded-xl transition duration-500 md:scale-110 border md:group-hover:scale-105'
            loading='lazy'
          />
        </div>

        <div class='w-full md:w-1/2 md:max-w-lg'>
          <h3 class='text-2xl font-bold text-gray-800 dark:text-gray-100'>
            {title}
          </h3>
          <div class='flex flex-wrap mt-2'>
            <ul class='flex flex-row mb-2 gap-2 flex-wrap'>
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 shadow-md border-[1px]`}
                  >
                    <tag.icon class='size-4' />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class='mt-2 text-pretty text-gray-700 dark:text-gray-400'>
              {description}
            </div>
            <footer class='flex items-end justify-start mt-4 gap-x-4'>
              {github && (
                <LinkButton href={github}>
                  <GitHub class='size-6' />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class='size-4' />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
