---
import GitHub from './icons/GitHub.astro';
import LinkButton from './LinkButton.astro';
import Link from './icons/Link.astro';

interface Props {
  image: string;
  title: string;
  tags: {
    name: string;
    class: string;
    icon: (_props: Record<string, unknown>) => SVGElement;
  }[];
  description: string;
  github?: string;
  link?: String;
}

const { image, title, tags, description, github, link } = Astro.props;
---

<article
  class='flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0'
>
  <div
    class='w-full aspect-[3/2] md:w-1/2 md:h-56 lg:h-[300px] rounded-xl shadow-xl transition duration-500 ease-in-out transform md:group-hover:-translate-y-1 md:group-hover:shadow-2xl overflow-clip border border-gray-300 hover:border-gray-200 dark:border-gray-900 dark:hover:border-gray-800'
  >
    <img
      src={image}
      alt='Project photo'
      class='w-full aspect-[3/2] rounded-xl transition duration-500 md:group-hover:scale-105'
      loading='lazy'
    />
  </div>

  <div class='w-full md:w-1/2 md:max-w-lg'>
    <h3
      class='text-2xl font-bold text-gray-800 dark:text-gray-100'
      data-i18n={title}
    >
    </h3>
    <div class='flex flex-wrap mt-2'>
      <ul class='flex flex-row mb-2 gap-2 flex-wrap'>
        {
          tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 shadow-md border-[1px]`}
              >
                <tag.icon class='size-4' />
                {tag.name}
              </span>
            </li>
          ))
        }
      </ul>

      <div
        class='mt-2 text-pretty text-gray-700 dark:text-gray-400'
        data-i18n={description}
      >
      </div>
      <footer class='flex items-end justify-start mt-4 gap-x-4'>
        {
          github && (
            <LinkButton
              href={github}
              i18n='linkButton.code'
              aria-label='GitHub Repository'
            >
              <GitHub class='size-6' />
            </LinkButton>
          )
        }
        {
          link && (
            <LinkButton
              href={link}
              i18n='linkButton.preview'
              aria-label='Preview'
            >
              <Link class='size-4' />
            </LinkButton>
          )
        }
      </footer>
    </div>
  </div>
</article>
