---
import { getI18N } from '@/i18n';
import Layout from '@/layouts/Layout.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import Hero from '@/components/Hero.astro';
import TitleSection from '@/components/TitleSection.astro';
import Experience from '@/components/Experience.astro';
import Briefcase from '@/components/icons/Briefcase.astro';
import CodeIcon from '@/components/icons/Code.astro';
import Projects from '@/components/Projects.astro';
import ProfileCheck from '@/components/icons/ProfileCheck.astro';
import About from '@/components/About.astro';
import Stack from '@/components/Stack.astro';
import UpButton from '@/components/UpButton.astro';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.page.title} description={i18n.page.description}>
  <main class='px-4'>
    <SectionContainer class='py-24 md:py-36'>
      <Hero />
    </SectionContainer>
    <div class='space-y-24 md:space-y-36'>
      <SectionContainer id='experience'>
        <TitleSection>
          <Briefcase class='size-8' />
          {i18n.page.section_experience}
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id='projects'>
        <TitleSection>
          <CodeIcon class='size-8' />
          {i18n.page.section_projects}
        </TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer id='about'>
        <TitleSection>
          <ProfileCheck class='size-8' />
          {i18n.page.section_about}
        </TitleSection>
        <About />
        <Stack />
      </SectionContainer>
    </div>
  </main>
  <UpButton />
</Layout>
